<h3>First Push</h3>
<form id="sendNotification" name = "sendNotification" action="/send" method="POST">
    <label>Заголовок</label><br>
    <input type="text" name="title" /><br>
    <label>Описание</label><br>
    <input type="text" id="description" name="description"/><br>
    <input type="submit" value="Send" />
</form>