{{!-- <a href="/admin/add" style="float:right;"><button type="button" class="btn btn-danger btn-circle"><i class="fa fa-plus"></i></button></a> --}}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
<a href="/admin/add">Добавить тему</a><br>
<a href="/admin/send">Отправить уведомление на устройство</a>
        </div>
        {{>deviceGrid}}
    </div>
</div>